<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391</string>
	<key>CFBundleExecutable</key>
	<string>VoodooPS2Keyboard</string>
	<key>CFBundleGetInfoString</key>
	<string>1.9.2, Copyright Apple Computer, Inc. 2000-2003, RehabMan 2012-2013</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.voodoo.driver.PS2Keyboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Voodoo PS/2 Keyboard</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.9.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ApplePS2Keyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.voodoo.driver.PS2Keyboard</string>
			<key>IOClass</key>
			<string>ApplePS2Keyboard</string>
			<key>IOProviderClass</key>
			<string>ApplePS2KeyboardDevice</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>ActionSwipeDown</key>
					<string>3b d, 37 d, 7d d, 7d u, 37 u, 3b u</string>
					<key>ActionSwipeLeft</key>
					<string>3b d, 37 d, 7b d, 7b u, 37 u, 3b u</string>
					<key>ActionSwipeRight</key>
					<string>3b d, 37 d, 7c d, 7c u, 37 u, 3b u</string>
					<key>ActionSwipeUp</key>
					<string>3b d, 37 d, 7e d, 7e u, 37 u, 3b u</string>
					<key>Breakless PS2</key>
					<array>
						<string>e073;for case that macro inversion</string>
					</array>
					<key>Custom ADB Map</key>
					<array>
						<string>;Items must be strings in the form of scanfrom=adbto (in hex)</string>
					</array>
					<key>Custom PS2 Map</key>
					<array>
						<string>;Items must be strings in the form of scanfrom=scanto (in hex)</string>
						<string>e037=64;prtsc=F13</string>
						<string>e052=e05e;ins to power</string>
						<string>e071=e005;Fn+F1 brightness down</string>
						<string>e072=e006;Fn+F2 brightness up</string>
						<string>e073=69;Fn+F8 to F18</string>
						<string>e074=6a;Fn+F9 to F19</string>
						<string>e075=e037;Fn+F10 disable touch pad</string>
					</array>
					<key>Macro Inversion</key>
					<array>
						<string>;This section maps ps2 codes (packet format) received quickly (macros) into fake ps2 codes (packet format)</string>
						<string>;Fn+F1</string>
						<data>
						//8CcwAAAAACWwEZ
						</data>
						<data>
						//8C7gAAAAAC2wGZ
						</data>
						<data>
						//8C7gAAAAABmQLb
						</data>
					</array>
					<key>MaximumMacroTime</key>
					<integer>35000000</integer>
					<key>HIDF12EjectDelay</key>
					<integer>250</integer>
					<key>LogScanCodes</key>
					<integer>0</integer>
					<key>Make Application key into Apple Fn key</key>
					<false/>
					<key>Make Application key into right windows</key>
					<true/>
					<key>Make right modifier keys into Hangul and Hanja</key>
					<false/>
					<key>SleepPressTime</key>
					<integer>0</integer>
					<key>Swap capslock and left control</key>
					<false/>
					<key>Swap command and option</key>
					<false/>
					<key>Use ISO layout keyboard</key>
					<false/>
					<key>alt_handler_id</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
		<key>org.rehabman.voodoo.driver.PS2Controller</key>
		<string>1.9.2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-Voodoo-PS2-Controller</string>
</dict>
</plist>
